<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body},'C2C wydanie zewnętrzne')}">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<!--/*@thymesVar id="wzs" type="java.util.List"*/-->
<div class="content">

    <div class="container-fluid" >
        <h1 class="mt-4">Wydania zewnętrzne</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
            <li class="breadcrumb-item active">WZ</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">Znajdziesz tutaj informacje dotyczące wystawionych dokumentów WZ.<br/>
                Aby zobaczyć więcej informacji kliknij więcej obok dokumentu który Cię interesuje.<br/>
                Jeżeli chcesz wygenerować plik PDF kliknij na <span class="sb-nav-link-icon"><i class="fas fa-file-pdf"></i></span> przy dokumencie który Cię interesuje</div>
        </div>
        <div class="card mb-4"  th:if="${wzs != null}">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Wydania zewnętrzne - tabela</div>
            <div class="card-body">
                <div class="table-responsive">
                    <!--/*@thymesVar id="wzs" type="java.util.List"*/-->
                    <table class="table table-bordered" id="dataTable" style="width: 100%;" th:if="${!wzs?.isEmpty()}">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data wystawienia</th>
                            <th>Klient</th>
                            <th>Wystawił</th>
                            <th>Więcej...</th>
                            <th>PDF</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Data wystawienia</th>
                            <th>Klient</th>
                            <th>Wystawił</th>
                            <th>Więcej...</th>
                            <th>PDF</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="wz : ${wzs}">
                            <td th:text="${wz.id}">ID</td>
                            <td th:text="${wz.created}">Data wystawienia</td>
                            <td th:text="${wz.client.realName}">Klient</td>
                            <td th:text="${wz.employee.firstName}+' '+${wz.employee.lastName}">Employee</td>
                            <td><a href="#" th:href="'/wz/'+${wz.id}">Więcej...</a> </td>
                            <td><a href="#" th:href="'/wz/pdf/'+${wz.id}"><div class="sb-nav-link-icon"><i class="fas fa-file-pdf"></i></div></a> </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <p th:unless="${wzs != null}" class="message">Brak dokumentów do wyświetlenia...</p>
    </div>
    
</div>

</body>
</html>
