<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

    <style>
        button{
            margin: 5px;
        }
    </style>
</head>
<body>
<div th:if="${client != null}">
    <p th:text="${client.id}"></p>
    <p th:text="${client.warehouseName}"></p>
    <p th:text="${client.realName}"></p>
    <p th:text="${client.nip}"></p>
    <p th:text="${client.address}"></p>
    <p th:text="${client.coordinates?.x}"></p>
    <p th:text="${client.coordinates?.y}"></p>
    <p th:text="${client.info}"></p>
    <p th:text="${client.route?.name}"></p>

    <a href="#" th:href="'/clients/edit/'+${client.id}"><button type="button">EDYTUJ</button></a>
    <a href="#" th:href="'/clients/remove/'+${client.id}"><button type="button">USUŃ</button></a>
</div>
    <p th:if="${client == null}"> Nie ma takiego użytkownika</p>
</body>
</html>
