<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div th:if="${client != null}">
    <p th:text="${client.id}"></p>
    <p th:text="${client.warehouseName}"></p>
    <p th:text="${client.realName}"></p>
    <p th:text="${client.nip}"></p>
    <p th:text="${client.address}"></p>
    <p th:text="${client.coordinates.x}"></p>
    <p th:text="${client.coordinates.y}"></p>
    <p th:text="${client.info}"></p>

</div>
    <p th:if="${client == null}"> Nie ma takiego użytkownika</p>
</body>
</html>